.main-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  border: 1px solid grey;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.S {
  width: 30px;
  height: 30px;
}

.M {
  width: 60px;
  height: 60px;
}

.L {
  width: 120px;
  height: 120px;
}

.XL {
  width: 200px;
  height: 200px;
}

.rounded {
  border-radius: 8px;
}

.circle {
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}
